
 @import '_style.scss';
nav{
    width: 100%;
    display: flex;
    position: relative;
    background-color: white;
    color: black;
    img{
        padding-top: 1.5%;
        padding-left: 1.5%;
        width: 10%;
        height: 10%;
        padding-right:10% ;
        align-items: center;
        justify-content: center;
        justify-items: center;
        // margin-right: 10%;
        
    }
    ul{
        display: flex;
        li{
            list-style: none;
            font-size: 20px;
            padding: 40px;
            text-align: center;
            a{
                text-decoration: none;
            }
        }
    }
    input{
        margin-left: 20px;
        margin-top: 3.2%;
        width: 250px;
        height: 30px;
        padding: 3px;
        border-radius: 50px;
      color: black;
      font-size: 15px;
    }
    i{
        
        font-size: 15px;
        position:absolute;
        right: 15.5%;
        top: 47.5%;
        
    }
}



// Home CSS are starts//



    .homes{
        
            background-image: url(/istockphoto-144292803-1024x1024.jpg);
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        
        .mainhome{
            padding-top:32.5%;
            padding-left: 5%;
             width: 400px;
             height: 50px;
        h1{
          
            font-size: 50px;
        }
        p{
            
        
           font-size: 30px;
           color:black;
        }
    }
}
.homeabout{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    // background-color: aqua;

     img{
        padding: 10%;
         width: 65%;
         height: 420px;
    }
    .homeabout1{
        margin-top: 30px;
        margin-left: -90px;
        width: 300px;
        height: 420px;
        
        // background-color: blue;
        h1{
            font-size: 50px;
            // padding-top: 10px;
            color: red;
        }
        p{
            color: black;
            font-size: 35px;
        }
        #link{
            display: none;
        }
        #showtext{
            display: none;
            font-style: italic;
            
        }
        #link:checked~#showtext{
         display: block;
        }
        #links{
            display: none;
        }
        #shwtext{
            display: none;
            font-style: italic;
        }
        #links:checked~#shwtext{
            display:block;

        }
    }
    .homeabout2{
        width: 300px;
        height: 520px;
        border-radius: 20px;
        border: 1px solid black;
        margin: 30px;
        margin-left: 50px;
    }
    
}
 
.boxes{
    width: 100%;
    height: 100vh;
    background-image: url(/gus-ruballo-h5QNclJUiA8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // filter: blur(8px);
   
    .text{
        margin-left: 42%;
    padding-top: 5%;
        width: 200px;
        height: 50px;
        text-align: center;
        color: white;
    }
    .backgr{
   display: flex;
   justify-content: center;

   justify-items: center;
    img{
    margin-top: 20%;
        width: 600px;
        height: 400px;
    position: absolute;

        // display: flex;
        // justify-content: center;
        // justify-items: center;
        align-items: center;
        // background-position: center;
        // background-size: cover;
        background-repeat: no-repeat;
    z-index: 2;
    border-radius: 10px;
    }
}

}
#best_deal{
    
    width: 100%;
    height: 50vh;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    .best1{
        width: 400px;
        height: 200px;
        margin-right: 40%;
        h3{
            color: red;
            font-size: 30px;
        }
        h1{
            font-size: 40px;
        }
    }
    .best2{
        button{

        @include btn();
        }

        
    }
}